/*input[type=checkbox] {*/
  /*visibility: hidden;*/
/*}*/

/*label {*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/

/*input[type=checkbox].css-checkbox {*/
    /*position: absolute;*/
    /*overflow: hidden;*/
    /*clip: rect(0 0 0 0);*/
    /*height: 1px;*/
    /*width: 1px;*/
    /*margin: -1px;*/
    /*padding: 0;*/
    /*border: 0;*/
/*}*/

/*input[type=checkbox].css-checkbox + label.css-label {*/
    /*padding-left:20px;*/
    /*height:15px;*/
    /*display:inline-block;*/
    /*line-height:15px;*/
    /*background-repeat:no-repeat;*/
    /*background-position: 0 0;*/
    /*font-size:15px;*/
    /*vertical-align:middle;*/
    /*cursor:pointer;*/
/*}*/

/*input[type=checkbox].css-checkbox:checked + label.css-label {*/
    /*background-position: 0 -15px;*/
/*}*/

/*.labelDevice{*/
    /*background-image: url(checkboxDevice.png);*/
/*}*/

/*input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {*/
    /*padding-left:22px;*/
    /*height:20px;*/
    /*display:inline-block;*/
    /*line-height:20px;*/
    /*background-repeat:no-repeat;*/
    /*background-position: 0 0;*/
    /*font-size:16px;*/
    /*vertical-align:middle;*/
    /*cursor:pointer;*/
/*}*/

/*input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{*/
    /*background-position: 0 -20px;*/
/*}*/

.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 50px auto;
}

.productTable{
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}

.productsName{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.productName{
    margin: 15px 0;
    font-size: 20px;
}

thead{
    background-color: #49636D;
    color: #adadad;
    font-weight: bold;
}

thead, tbody, td{
    width: auto;
    border: 2px solid #888888;
    border-spacing: 0;
    padding: 10px;
}

thead tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

thead tr:last-child td:last-child {
    border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table{
    border-collapse: collapse;
}

.price, .rating, .id{
    text-align: center;
}

.idHeader{
    width: 8%;
}

.nameHeader{
    width: 52%;
}

.ratingHeader, .priceHeader{
    width: 20%;
    text-align: center;
}

